<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>training records</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'trainingrecords.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="topmenu">
        <div class="title">
            <h1>MP employee management</h1>
        </div>
        <div class="links">
            <a href="{% url 'employeemanagement:home' %}" class="e">Employees</a>
            <a href="{% url 'employeemanagement:manageemployees'%}" class="e">manage employees</a>
            <a href="{% url 'employeemanagement:trainingrecords' %}" class="t">training records</a>
            <a href="{% url 'employeemanagement:perfomance'%}" class="p">Perfomance records</a>
            <a href="#" class="sea"></a>
            <img src="{% static 'profile-user.png'%}" class="icon">
            <a href="{% url 'employeemanagement:profile'%}" class="f">Profile</a>
        </div>
    </div>
    <div class="body">
        <div class="tr">
            <div class="c"></div>
            <div class="nd">
                <p class="n">Mugisha Pascal</p>
            </div>
            <div class="dd">
                <p class="d">Department1</p>
            </div>
        </div>
        <div class="box">
        <div class="tp">
            <p>date</p>
            <p>training records in all aspects(%)</p>
        </div>
        {% for dt in modl%}
        <div class="o">
            <p>{{dt.trainingdate}}</p>
            <p>{{dt.training}}</p>
        </div>
        {% endfor %}
   
        <div class="ot">
          
        </div>
        </div>
    </div>
    <a href="{% url 'employeemanagement:managetraining'%}" class="mh">Manage training</a>
    </div>
    <div class="footer">
        <div class="copyright">
            <p>you are in the right place to manage employees</p>
            <p class="mp">@ mp employee management</p>
            <div class="icy">
                <p>© 2024 mp employment information by Pascal. All rights reserved</p>
                <p class="sm">terms of sale</p>
                <p class="sm">privacy policy</p>
            </div>
        </div>
        <div class="contact">
            <p class="cont">Contact Us:</p>
            <p>for general inquires only</p>
            <p>tel: 0786493844</p>
            <p>email: mugishapascal2008@gmail.com</p>
        </div>
    </div>
</body>

</html>